<%- include('../includes/head.ejs') %>
    <!--Styles go here-->
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
<%- include('../includes/nav.ejs') %>
    <!-- Main -->
    <h1>EDIT PRODUCT</h1>
<%- include('../includes/foot.ejs') %>