<form action="/cart" method="POST">
    <button class='add' type="submit">Add to cart</button> 
    <input type="hidden" name="productId" value="<%= product.id %>" />
    <input type="hidden" name="productPrice" value="<%= product.price %>" />
</form>