<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/shop.css")
        block styles
    body
        header.main-header
            nav.main-nav
                ul.main-nav__itemlist
                    li.main-nav__item
                        a(href="/" class=(path==='shop' ? 'link--active' : null)) Shop
                    li.main-nav__item
                        a(href="/admin/add-product" class=(path==='add-product' ? 'link--active': null)) Add Product
        block content