<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/404.css")
    body
        header.main-header
            nav.main-nav
                ul.main-nav__itemlist
                    li.main-nav__item
                        a(href="/") Shop
                    li.main-nav__item
                        a(href="/admin/add-product") Add Product
        main.main
            h1.main__h1 Oops!, We cannot find the page you searched.
            a.homepage(href="/") Back to shop