extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/404.css")
block content
    main.main
        h1.main__h1 Oops!, We cannot find the page you searched.
        a.homepage(href="/") Back to shop
