<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Add a new Product
        link(rel="stylesheet", href="/css/add-product.css")
    body
        header.main-header
            nav.main-nav
                ul.main-nav__itemlist
                    li.main-nav__item
                        a(href="/") Shop
                    li.main-nav__item
                        a.link--active(href="/admin/add-product") Add Product
        main.main
            h1.main__title All Products
            br
            form.form(action='/admin/add-product' method='POST')
                label.form__element(for="title") Product title
                input.form__input(type='text' name='title')
                button.form__submit(type='submit') Add