<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new product</title>
    <link rel="stylesheet" href="/css/add-product.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-nav__itemlist">
                <li class="main-nav__item"><a href="/">Shop</a></li>
                <li class="main-nav__item"><a class="link--active" href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <h1 class="main__title">Add a new product</h1>
        <br />
        <form class="form" action='/admin/add-product' method='POST'>
            <label class="form__element" for="title">Product title</label>
            <input class="form__input" type='text' name='title' />
            <button class="form__submit" type='submit'>Add</button>
        </form>
    </main>
</body>

</html>