<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new product</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Add a new product</h1>
        <br />
        <form action='/admin/add-product' method='POST'>
            <label for="title">Product title</label>
            <input type='text' name='title' />
            <button type='submit'>Add</button>
        </form>
    </main>
</body>
</html>