extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/add-product.css")

block content
    main.main
        h1.main__title All Products
        br
        form.form(action='/admin/add-product' method='POST')
            label.form__element(for="title") Product title
            input.form__input(type='text' name='title')
            button.form__submit(type='submit') Add