<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/shop.css")
        link(rel="stylesheet", href="/css/shop-layout.css")
    body
        header.main-header
            nav.main-nav
                ul.main-nav__itemlist
                    li.main-nav__item
                        a.link--active(href="/") Shop
                    li.main-nav__item
                        a(href="/admin/add-product") Add Product
        main.main-content
            if products.length > 0
                each product in products
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://www.howardmansfield.com/wp-content/themes/toolbox/images/summer-over-autumn.png", alt="A book")
                        .card__content
                            h1.product__price $25.99
                            p.product__desc Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, recusandae omnis ratione autem culpa in nulla consectetur fuga cum quos. Dolorum, officia? Dolores dicta ratione dolorum hic tempore iste quo!
                        .card__actions
                            button.add Add
            else
                h1.main__title No products to display

            