<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <ul class="main-nav__itemlist">
                <li class="main-nav__item"><a class="link--active" href="/">Shop</a></li>
                <li class="main-nav__item"><a href="/admin/add-product">Add product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <h1 class="main__h1">All products</h1>
        <p class="main__title">Products list goes here...</p>
    </main>
</body>
</html>